.cta {
    &__container {
        @media @phone {
            padding: 0 (20% / @breakpoint-phone) * 100;
            margin-top: @margin-md;
            &>* {
                margin-top: @margin-sm;
            }
        } //phone
        @media @tablet {
            display: flex;
            flex-direction: row-reverse;
            &:nth-child(2) {
                flex-direction: row;
            }
            &>* {
                margin: 0;
            }
        } // tablet
    } //container
    &__img-side {
        &>* {
            @media @phone {
                width: 100%;
            } //phone
            @media @tablet {}
            //tablet
        }
    } //img-side
    @media @tablet {
        &>.cta__container:nth-child(1)>&__info-side {
            padding-right: @padding-sm;
        } //first info-side
        &>.cta__container:nth-child(2)>&__info-side {
            padding-left: @padding-sm;
        } //second info-side
    }
    &__info-side {
        @media @phone {
            &>* {
                margin-top: @margin-sm;
            }
        } //phone
        @media @tablet {
            width: 50%;
        } //tablet
    } //info-side
    &__topic {
        .sub-heading;
    }
    &__text {
        .general-text();
    }
    &__btn {
        .white-btn();
        @media @phone {
            width: 100%;
        } //phone
        @media @tablet {
            width: 40%;
        }
    } //btn
} //cta-section
.projects {
    margin-top: @margin-lg; //MAIN TOPIC STARTS
    .main-topic {
        @media @phone {
            padding: 0 (20% / @breakpoint-phone) * 100;
            .sub-heading;
            margin-bottom: @margin-sm;
        }
        @media @tablet {
            padding: 0;
        }
    } //MAIN TOPIC ENDS
    //IMAGE STARTS
    &__img {
        &>* {
            width: 100%;
        }
    } //IMAGE ENDS
    //GREY BOX STARTS
    @media @tablet {
        .project:nth-child(even)>&__box {
            width: 29%;
            left: auto;
            right: 0;
            transform: translate(-40.5%, -30%);
        }
        .project:nth-child(odd)>&__box {
            width: 29%;
            left: 0;
            transform: translate(40.5%, -30%);
        }
    } //tablet
    &__box {
        @media @phone {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -30%);
            .grey-box();
            height: 125px;
            width: 90%;
            padding: 12px 0;
        } //phone
    } // box
    //GRAY BOX ENDS
    &__all-text {
        @media @phone {
            padding: 0 (20% / @breakpoint-phone) * 100;            
        }
        @media @tablet {
            padding: 0;
            width: 50%;
            margin: 0 auto;
        }
    }
    &__text {
        @media @phone {
            .general-text();
            &:first-child {
                margin: 124px 0 @margin-sm 0;
            }
            &:last-child {
                margin-bottom: @margin-lg;
            }
        }
    }
} // projects section