.cta {
    &__container {
        margin-top: @margin-md;
        @media @phone {
            &>* {
                margin-top: @margin-sm;
            }
        }
    }
    &__img-side {
        width: 100%;
        &>* {
            width: 100%;
        }
    }
    &__info-side {
        @media @phone {
            &>* {
                margin-top: @margin-sm;
            }
        }
    }
    &__topic {
        .sub-heading;
    }
    &__text {
        .general-text();
    }
    &__btn {
        .white-btn();
        @media @phone {
            width: 100%;
        }
    }
} //cta-section
.projects {
    margin-top: @margin-lg;
    .main-topic {
        .sub-heading;
        margin-bottom: @margin-sm;
    }
    &__img {
        &>* {
            width: 100%;
        }
    }
    &__box {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -30%);
        .grey-box();
        height: 125px;
        width: 90%;
        padding: 12px 0;
    }
    &__text {
        .general-text();
        
        &:first-child {
        margin: 124px 0 @margin-sm 0;            
        }
    }
} // projects section